<h1>Editing name_author_string</h1>

<% form_for(@name_author_string) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :author_string %><br />
    <%= f.text_field :author_string %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @name_author_string %> |
<%= link_to 'Back', name_author_strings_path %>
