<h1>New name_author_string</h1>

<% form_for(@name_author_string) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :author_string %><br />
    <%= f.text_field :author_string %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', name_author_strings_path %>
