%h1
  Log In
  = link_to "(or sign up)", "/signup"

- form_tag session_path do
  %p
    %label{:for => "login"} Login
    %br/
    = text_field_tag 'login', @login

  %p
    %label{:for => "password"} Password
    %br/
    = password_field_tag 'password', nil

  %p
    %label{:for => "remember_me"} Remember me:
    = check_box_tag 'remember_me', '1', @remember_me

  %p
    = link_to 'I forgot my password', forgotten_password_url

  %p
    = submit_tag 'Log in'
