<h1>Listing name_composits</h1>

<table>
  <tr>
    <th>Name canonical</th>
    <th>Name author string</th>
    <th>Name year</th>
    <th>Confirmed</th>
  </tr>

<% for name_composit in @name_composits %>
  <tr>
    <td><%=h name_composit.name_canonical.name %></td>
    <td><%=h name_composit.name_author_string.author_string %></td>
    <td><%=h name_composit.name_year.year %></td>
    <td><%=h name_composit.confirmed %></td>
    <td><%= link_to 'Show', name_composit %></td>
    <td><%= link_to 'Edit', edit_name_composit_path(name_composit) %></td>
    <td><%= link_to 'Destroy', name_composit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New name_composit', new_name_composit_path %>
