<p>
  <b>Name canonical:</b>
  <%=h @name_composit.name_canonical %>
</p>

<p>
  <b>Name author string:</b>
  <%=h @name_composit.name_author_string %>
</p>

<p>
  <b>Name year:</b>
  <%=h @name_composit.name_year %>
</p>

<p>
  <b>Confirmed:</b>
  <%=h @name_composit.confirmed %>
</p>


<%= link_to 'Edit', edit_name_composit_path(@name_composit) %> |
<%= link_to 'Back', name_composits_path %>
