<h1>Editing response_format</h1>

<%= error_messages_for :response_format %>

<% form_for(@response_format) do |f| %>
  <p>
    <b>Response format</b><br />
    <%= f.text_field :response_format %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @response_format %> |
<%= link_to 'Back', response_formats_path %>
