<h1>Listing response_formats</h1>

<table>
  <tr>
    <th>Response format</th>
  </tr>

<% for response_format in @response_formats %>
  <tr>
    <td><%=h response_format.response_format %></td>
    <td><%= link_to 'Show', response_format %></td>
    <td><%= link_to 'Edit', edit_response_format_path(response_format) %></td>
    <td><%= link_to 'Destroy', response_format, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New response_format', new_response_format_path %>
