<h1>Editing data_provider</h1>

<%= error_messages_for :data_provider %>

<% form_for(@data_provider) do |f| %>
  <p>
    <b>Data source</b><br />
    <%= f.text_field :data_source_id %>
  </p>

  <p>
    <b>Participant</b><br />
    <%= f.text_field :participant_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @data_provider %> |
<%= link_to 'Back', data_providers_path %>
