<h1>Listing data_providers</h1>

<table>
  <tr>
    <th>Data source</th>
    <th>Participant</th>
  </tr>

<% for data_provider in @data_providers %>
  <tr>
    <td><%=h data_provider.data_source_id %></td>
    <td><%=h data_provider.participant_id %></td>
    <td><%= link_to 'Show', data_provider %></td>
    <td><%= link_to 'Edit', edit_data_provider_path(data_provider) %></td>
    <td><%= link_to 'Destroy', data_provider, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New data_provider', new_data_provider_path %>
