<h1>New name_year</h1>

<% form_for(@name_year) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :unparsed %><br />
    <%= f.text_field :unparsed %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', name_years_path %>
