<h1>Listing participant_contacts</h1>

<table>
  <tr>
    <th>Participant</th>
    <th>Person</th>
    <th>Role</th>
  </tr>

<% for participant_contact in @participant_contacts %>
  <tr>
    <td><%=h participant_contact.participant_id %></td>
    <td><%=h participant_contact.person_id %></td>
    <td><%=h participant_contact.role %></td>
    <td><%= link_to 'Show', participant_contact %></td>
    <td><%= link_to 'Edit', edit_participant_contact_path(participant_contact) %></td>
    <td><%= link_to 'Destroy', participant_contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New participant_contact', new_participant_contact_path %>
