<p>
  <b>Participant:</b>
  <%=h @participant_contact.participant_id %>
</p>

<p>
  <b>Person:</b>
  <%=h @participant_contact.person_id %>
</p>

<p>
  <b>Role:</b>
  <%=h @participant_contact.role %>
</p>


<%= link_to 'Edit', edit_participant_contact_path(@participant_contact) %> |
<%= link_to 'Back', participant_contacts_path %>
