<h1>Listing data_source_contributors</h1>

<table>
  <tr>
    <th>Data source</th>
    <th>User</th>
    <th>Data source admin</th>
  </tr>

<% for data_source_contributor in @data_source_contributors %>
  <tr>
    <td><%=h data_source_contributor.data_source %></td>
    <td><%=h data_source_contributor.user %></td>
    <td><%=h data_source_contributor.data_source_admin %></td>
    <td><%= link_to 'Show', data_source_contributor %></td>
    <td><%= link_to 'Edit', edit_data_source_contributor_path(data_source_contributor) %></td>
    <td><%= link_to 'Destroy', data_source_contributor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New data_source_contributor', new_data_source_contributor_path %>
