<p>
  <b>Data source:</b>
  <%=h @data_source_contributor.data_source %>
</p>

<p>
  <b>User:</b>
  <%=h @data_source_contributor.user %>
</p>

<p>
  <b>Data source admin:</b>
  <%=h @data_source_contributor.data_source_admin %>
</p>


<%= link_to 'Edit', edit_data_source_contributor_path(@data_source_contributor) %> |
<%= link_to 'Back', data_source_contributors_path %>
