<h1>New access_rule</h1>

<%= error_messages_for :access_rule %>

<% form_for(@access_rule) do |f| %>
  <p>
    <b>Data source</b><br />
    <%= f.text_field :data_source_id %>
  </p>

  <p>
    <b>Access type</b><br />
    <%= f.text_field :access_type_id %>
  </p>

  <p>
    <b>Is allowed</b><br />
    <%= f.check_box :is_allowed %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', access_rules_path %>
