- form_for(data_source) do |f|
  .form_field
    %p
      %b 
        Title
        %span.required
          *
      %br/
      = f.text_field :title, :size => "70"
      .help_info
        Name of your Repository

  %fieldset.subsection
    %legend.subsection Harvesting        
    .form_field
      %b
        Names Data URL
        %span.required
          *
      %br/
      = f.text_field :data_url, :size => "70", :value => data_source.data_url, :class => "valid_url"
      %span.valid_url_message

      .help_info
        URL to the xml file with list of names from your Repository. 
        %br/
        Please follow 
        = link_to "example", "/schema/examples/gni_data_example_v_" + SCHEMA_VERSION.gsub('.', '_') + ".xml" 
        and 
        = link_to "schema", "/schema/gni_v_" + SCHEMA_VERSION.gsub('.', '_') + ".xsd"
    
    .form_field
      %b Refresh period (days)
      %br/
      = f.text_field :refresh_period_days
      .help_info
        How often to harvest your data?

  %fieldset.subsection
    %legend.subsection Details
    .form_field
      %b Description
      %br/
      = f.text_area :description, :class => "medium"
      .help_info
        Information about your Repository
    .form_field
      %b Website URL
      %br/
      = f.text_field :web_site_url, :size => "70", :value => data_source.web_site_url
      .help_info
        URL to the website of your Repository
    .form_field
      %b Logo URL
      %br/
      = f.text_field :logo_url, :size => "70", :value => data_source.logo_url
      .help_info
        If you have a url to your logo please enter it here. Logo will be displayed in format of 46 px by 20 px 
  %p
    %span.required *
    required fields
  %p
  = f.submit button
