- form_for(data_source) do |f|
%p Enter your meta data url to get data for your source.  
%p
  %b Data Source URL
  %br/
  = f.text_field :metadata_url, :size => "70"
%p
  = f.submit button, :value => 'Get data from url'

%p Or enter data by hand and generate xml file.
.subsection

  %p
    %b Title
    %br/
    = f.text_field :title, :size => "50"
  %p
    %b Description
    %br/
    = f.text_area :description, :class => "medium"
  %p
    %b Logo URL
    %br/
    = f.text_field :logo_url
  / %p
  /   %b Rights
  /   %br/
  /   = f.text_field :rights
  / %p
  /   %b Citation
  /   %br/
  /   = f.text_field :citation
  / %p
  /   %b Endpoint url
  /   %br/
  /   = f.text_field :endpoint_url
  / %p
  /   %b Data uri
  /   %br/
  /   = f.text_field :data_uri
  / %p
  /   %b Data uri type
  /   %br/
  /   = f.select( :uri_type, UriType.find(:all).map {|ut| [ ut.uri_type, ut.id ] }, { :include_blank => true })
  / %p
  /   %b Response format
  /   %br/
  /   = f.select(:response_format, ResponseFormat.find(:all).map {|rf| [rf.response_format, rf.id]}, {:include_blank => true})
  %p
    %b Refresh period (days)
    %br/
    = f.text_field :refresh_period_days
  / %p
  /   %b Taxonomic scope
  /   %br/
  /   = f.text_field :taxonomic_scope
  / %p
  /   %b Geospatial scope wkt
  /   %br/
  /   = f.text_field :geospatial_scope_wkt
  / %p
  /   %b Created
  /   %br/
  /   = f.date_select :created
  / %p
  /   %b Updated
  /   %br/
  /   = f.date_select :updated
  
  %p
  = f.submit button
- end
