%h1== Edit Repository #{add_quotes(@data_source.title)}
= link_to 'Show Repository', @data_source
= "|"
= link_to 'All Repositories', data_sources_path

= error_messages_for :data_source

= render :partial => 'data_source', :locals => {:data_source => @data_source, :button => "Update" }


