<h1>Editing data_source</h1>

<%= error_messages_for :data_source %>

<% form_for(@data_source) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Rights</b><br />
    <%= f.text_field :rights %>
  </p>

  <p>
    <b>Citation</b><br />
    <%= f.text_field :citation %>
  </p>

  <p>
    <b>Metadata url</b><br />
    <%= f.text_field :metadata_url %>
  </p>

  <p>
    <b>Endpoint url</b><br />
    <%= f.text_field :endpoint_url %>
  </p>

  <p>
    <b>Data uri</b><br />
    <%= f.text_field :data_uri %>
  </p>

  <p>
    <b>Data uri type</b><br />
	<%= f.select( :uri_type, UriType.find(:all).map {|ut| [ ut.uri_type, ut.id ] }, { :include_blank => true }) %>
  </p>

  <p>
    <b>Response format</b><br />
    <%= f.select(:response_format, ResponseFormat.find(:all).map {|rf| [rf.response_format, rf.id]}, {:include_blank => true}) %>
  </p>

  <p>
    <b>Refresh period hours</b><br />
    <%= f.text_field :refresh_period_hours %>
  </p>

  <p>
    <b>Taxonomic scope</b><br />
    <%= f.text_field :taxonomic_scope %>
  </p>

  <p>
    <b>Geospatial scope wkt</b><br />
    <%= f.text_field :geospatial_scope_wkt %>
  </p>

  <p>
    <b>Created</b><br />
    <%= f.date_select :created %>
  </p>

  <p>
    <b>Updated</b><br />
    <%= f.date_select :updated %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @data_source %> |
<%= link_to 'Back', data_sources_path %>
