

#data_layout
  #data_left_column
    %h1 Scientific Names Repositories
    %table{:class => "data bordered"}
      %tr
        %th.top Logo
        %th.top Title
        %th.top Description
      -for data_source in @data_sources
        %tr
          %td= data_source_logo(data_source)
          %td= link_to h(data_source.title), data_source
          %td= h data_source.description
  #data_right_column
    - if logged_in?
    
      %h1 
        Your Repositories
        = link_to '(add new repository)', new_data_source_path

      - @user_data_sources.each do |data_source|
        .boxed-small
          %table{:style => "margin:0;padding:0;"}
            %tr
              %td{:width => "50px"}
                = data_source_logo(data_source)
              %td
                = link_to h(data_source.title), data_source

#data_clear_layout
  %br/

