<h1>Names Sources</h1>

<%= link_to 'Add', new_data_source_path %>

<table class="data bordered">
  <tr>
    <th class="top">Title</th>
    <th class="top">Description</th>
    <th class="top">Created</th>
    <th class="top">Updated</th>
	<th class="top" colspan="3">Actions</th>
  </tr>

<% for data_source in @data_sources %>
  <tr>
    <td><%=h data_source.title %></td>
    <td><%=h data_source.description %></td>
    <td><%=h data_source.created %></td>
    <td><%=h data_source.updated %></td>
    <td><%= link_to 'Show', data_source %></td>
    <td><%= link_to 'Edit', edit_data_source_path(data_source) %></td>
    <td><%= link_to 'Destroy', data_source, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

