%h1 Names Sources

- if logged_in?
= link_to 'Add', new_data_source_path
- end

%table{:class => "data bordered"}
  %tr
    %th.top Logo
    %th.top Title
    %th.top Description
    %th.top{:colspan => 2} Actions
  -for data_source in @data_sources
  %tr
    %td
      %img{:src => data_source.logo_url}
    %td= link_to_data_source(data_source)
    %td= h data_source.description
    %td= link_to_edit(data_source)
    %td= link_to_delete(data_source)
  - end

%br/

