
#data_layout
  #data_left_column
    %h1 Scientific Names Repositories

    -for data_source in @data_sources
      - user_style = (current_user && current_user.data_sources.include?(data_source)) ? "repository owned_repository" : "repository"
      %div{:class => user_style}
        %table{:style => 'width: 100%; margin: 0; padding: 0'}
          %tr
            %td.vcentered{:style => 'width: 75px;'}
              = data_source_logo(data_source)
            %td{:style => 'vertical-align: top'}
              = link_to h(data_source.title), data_source, :class => "bold_link"
              = "(#{display_big_int(data_source.name_strings_count)} names)" if data_source.name_strings_count
              = link_to('<img src="/images/public/world_link.png">', data_source.web_site_url) if data_source.web_site_url
              %br
              = h data_source.description
  
  #data_right_column
    - if logged_in?
    
      %h1 
        Your Repositories
      = link_to 'add new repository', new_data_source_path

      - @user_data_sources.each do |data_source|
        .boxed-small
          %table{:style => "width:100%;margin:0;padding:0;"}
            %tr{:style => "margin:0;padding:0;"}
              %td.vcentered{:style => "width:75px;margin:0;padding:0"}
                = data_source_logo(data_source)
              %td{:style => "margin:0;padding:0;padding-left:0.5em"}
                = link_to h(data_source.title), data_source, :class => "bold_link"

#data_clear_layout
  %br/

