<h1>New data_source</h1>

<%= error_messages_for :data_source %>

<% form_for(@data_source) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Rights</b><br />
    <%= f.text_field :rights %>
  </p>

  <p>
    <b>Citation</b><br />
    <%= f.text_field :citation %>
  </p>

  <p>
    <b>Metadata url</b><br />
    <%= f.text_field :metadata_url %>
  </p>

  <p>
    <b>Endpoint url</b><br />
    <%= f.text_field :endpoint_url %>
  </p>

  <p>
    <b>Data uri</b><br />
    <%= f.text_field :data_uri %>
  </p>

  <p>
    <b>Data uri type</b><br />
    <%= f.text_field :data_uri_type %>
  </p>

  <p>
    <b>Response format</b><br />
    <%= f.text_field :response_format %>
  </p>

  <p>
    <b>Refresh perion hours</b><br />
    <%= f.text_field :refresh_perion_hours %>
  </p>

  <p>
    <b>Taxonomic scope</b><br />
    <%= f.text_field :taxonomic_scope %>
  </p>

  <p>
    <b>Geospation scope wkt</b><br />
    <%= f.text_field :geospation_scope_wkt %>
  </p>

  <p>
    <b>Created</b><br />
    <%= f.date_select :created %>
  </p>

  <p>
    <b>Updated</b><br />
    <%= f.date_select :updated %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', data_sources_path %>
