%h1
  = data_source_logo(@data_source) 
  = "Names Source: " + @data_source.title

%p
  = link_to 'Repositories Overlap',data_source_data_source_overlaps_url(@data_source)

%p
  %b Description:
  =h @data_source.description
%p
  %b Logo URL
  =h @data_source.logo_url
%p
  %b Data url:
  =h @data_source.data_url
%p
  %b Refresh period (days):
  =h @data_source.refresh_period_days

= link_to 'Edit', edit_data_source_path(@data_source)
= "|"
= link_to 'Back', data_sources_path
