%table
  %tr
    %td.vcentered{:width => "50px"}
      = data_source_logo(@data_source) 
    %td.vcentered
      %h1
        = "Repository " + add_quotes(@data_source.title)
    %td.vcentered
      -if @data_source.contributor?(current_user)
        = link_to 'Edit', edit_data_source_path(@data_source)

%div= link_to 'All Repositories', data_sources_path

- if @data_source.contributor?(current_user)
  %fieldset.subsection
    %legend Self-Harvesting
    - last_import_scheduler_id = @last_import_scheduler.id rescue 0
    - scheduler_status = @last_import_scheduler.message rescue "nothing yet"

    #import_in_progress{:import_scheduler_id => last_import_scheduler_id}
      .spinner
        = scheduler_status

    #import_finished
      %h3 Changes introduced by the last update
      %p
        = (link_to "Inserted: #{@inserted_size}, ", data_source_import_data_source_import_details_url(@inserted, :page => 1)) rescue "Inserted: 0, "
        = (link_to "Deleted: #{@deleted_size}, ", data_source_import_data_source_import_details_url(@deleted)) rescue  "Deleted: 0, "
        = (link_to "Updated: #{@updated_size}", data_source_import_data_source_import_details_url(@updated)) rescue "Updated: 0"


    - form_for(@import_scheduler, :action => 'post') do |f|
      = f.hidden_field :data_source_id,  :value => @data_source.id
      = f.hidden_field :status, :value => ImportScheduler::WAITING
      = f.hidden_field :message, :value => 'Data are scheduled for import'
      = f.submit "Import data", :class => "submit_em", :id => "submit_import_data"

%fieldset.subsection
  %legend Statistics
  %p
    = link_to 'Overlap with other repositories',data_source_data_source_overlaps_url(@data_source)
  %p
    Potential Duplicates (placeholder)
  %p
    Globally uniqe names (placeholder)

%fieldset.subsection
  %legend Information
  %p
    %b Description:
    =h @data_source.description
  %p
    %b Data url:
    =h @data_source.data_url
  %p
    %b Refresh period (days):
    =h @data_source.refresh_period_days

