<p>
  <b>Title:</b>
  <%=h @data_source.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @data_source.description %>
</p>

<p>
  <b>Rights:</b>
  <%=h @data_source.rights %>
</p>

<p>
  <b>Citation:</b>
  <%=h @data_source.citation %>
</p>

<p>
  <b>Metadata url:</b>
  <%=h @data_source.metadata_url %>
</p>

<p>
  <b>Endpoint url:</b>
  <%=h @data_source.endpoint_url %>
</p>

<p>
  <b>Data uri:</b>
  <%=h @data_source.data_uri %>
</p>

<p>
  <b>Data uri type:</b>
  <%=h @data_source.data_uri_type %>
</p>

<p>
  <b>Response format:</b>
  <%=h @data_source.response_format %>
</p>

<p>
  <b>Refresh period hours:</b>
  <%=h @data_source.refresh_period_hours %>
</p>

<p>
  <b>Taxonomic scope:</b>
  <%=h @data_source.taxonomic_scope %>
</p>

<p>
  <b>Geospation scope wkt:</b>
  <%=h @data_source.geospation_scope_wkt %>
</p>

<p>
  <b>Created:</b>
  <%=h @data_source.created %>
</p>

<p>
  <b>Updated:</b>
  <%=h @data_source.updated %>
</p>


<%= link_to 'Edit', edit_data_source_path(@data_source) %> |
<%= link_to 'Back', data_sources_path %>
