<h1>New organization_contact</h1>

<%= error_messages_for :organization_contact %>

<% form_for(@organization_contact) do |f| %>
  <p>
    <b>Organization</b><br />
    <%= f.text_field :organization_id %>
  </p>

  <p>
    <b>Person</b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b>Role</b><br />
    <%= f.text_field :role %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', organization_contacts_path %>
