<p>
  <b>Organization:</b>
  <%=h @organization_contact.organization_id %>
</p>

<p>
  <b>Person:</b>
  <%=h @organization_contact.person_id %>
</p>

<p>
  <b>Role:</b>
  <%=h @organization_contact.role %>
</p>


<%= link_to 'Edit', edit_organization_contact_path(@organization_contact) %> |
<%= link_to 'Back', organization_contacts_path %>
