%h1 
  Names Overlap for Repository 
  = in_quotes(@data_source.title)
.help_info== #{in_quotes(@data_source.title)} names total: #{display_big_int(@data_source.name_strings_count)}


%h4 Strict Overlap (Names match exactly)

= chart_overlap(@data_source_overlaps)

%table.data.bordered
  %tr
    %th.top Data source
    %th.top # of Names
    %th.top Overlap
    %th.top Overlap %

  - for overlap in @data_source_overlaps
    %tr
      %td= link_to overlap.other_data_source.title, data_source_data_source_overlaps_url(overlap.other_data_source.id)
      %td= overlap.other_data_source.name_indices.size
      %td= overlap.strict_overlap
      %th= overlap.percentage

%br/


