<h1>New data_source_overlaps</h1>

<% form_for(@data_source_overlaps) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :data_source %><br />
    <%= f.text_field :data_source %>
  </p>
  <p>
    <%= f.label :data_source %><br />
    <%= f.text_field :data_source %>
  </p>
  <p>
    <%= f.label :strict_overlap %><br />
    <%= f.text_field :strict_overlap %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', data_source_overlaps_path %>
