<p>
  <b>Data source:</b>
  <%=h @data_source_overlaps.data_source %>
</p>

<p>
  <b>Data source:</b>
  <%=h @data_source_overlaps.data_source %>
</p>

<p>
  <b>Strict overlap:</b>
  <%=h @data_source_overlaps.strict_overlap %>
</p>


<%= link_to 'Edit', edit_data_source_overlaps_path(@data_source_overlaps) %> |
<%= link_to 'Back', data_source_overlaps_path %>
