#footer
  %p
    = "(version #{APP_VERSION}) developed by"
    = link_to 'GBIF' , 'http://www.gbif.org', :title => 'Global Biodiversity Information Facility'
    and
    = link_to 'EOL', 'http://www.eol.org', :title => 'Encyclopedia Of Life'
    = '&nbsp;' * 3
    Please send
    = link_to 'your feedback', '/feedback/new'
