%h1 Scientific Names Parser

- form_tag '/parsers', :multipart => true  do
  %label Output format: 
  = radio_button_tag 'format', 'html', true
  HTML
  = radio_button_tag 'format', 'json'
  JSON
  = radio_button_tag 'format', 'yaml'
  YAML
  = radio_button_tag 'format', 'xml'
  XML
  %br/
  Add scientific names one per line. 
  %br/
  = text_area_tag 'names', nil, {:label => 'Scientific Name'}
  %br/
  Or upload a file with scientific names 
  %br/
  (one per line, utf-8 encoding, 5 000 names max.)
  %br/
  = file_field_tag 'file', :accept => 'text/plain'
  %br/
  %br/
  = submit_tag "Submit"
  
