<h1>Listing name_indices</h1>

<table>
  <tr>
    <th>Name string</th>
    <th>Data source</th>
    <th>Respond format</th>
    <th>Kingdom</th>
    <th>Uri</th>
    <th>Uri type</th>
    <th>Created</th>
    <th>Deleted</th>
  </tr>

<% for name_index in @name_indices %>
  <tr>
    <td><%=h name_index.name_string %></td>
    <td><%=h name_index.data_source %></td>
    <td><%=h name_index.response_format %></td>
    <td><%=h name_index.kingdom %></td>
    <td><%=h name_index.uri %></td>
    <td><%=h name_index.uri_type %></td>
    <td><%=h name_index.created %></td>
    <td><%=h name_index.deleted %></td>
    <td><%= link_to 'Show', name_index %></td>
    <td><%= link_to 'Edit', edit_name_index_path(name_index) %></td>
    <td><%= link_to 'Destroy', name_index, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New name_index', new_name_index_path %>
