<p>
  <b>Name string:</b>
  <%=h @name_index.name_string %>
</p>

<p>
  <b>Data source:</b>
  <%=h @name_index.data_source %>
</p>

<p>
  <b>Respond format:</b>
  <%=h @name_index.response_format %>
</p>

<p>
  <b>Kingdom:</b>
  <%=h @name_index.kingdom %>
</p>

<p>
  <b>Uri:</b>
  <%=h @name_index.uri %>
</p>

<p>
  <b>Uri type:</b>
  <%=h @name_index.uri_type %>
</p>

<p>
  <b>Created:</b>
  <%=h @name_index.created %>
</p>

<p>
  <b>Deleted:</b>
  <%=h @name_index.deleted %>
</p>


<%= link_to 'Edit', edit_name_index_path(@name_index) %> |
<%= link_to 'Back', name_indices_path %>
