<h1>Listing participant organizations</h1>

<table>
  <tr>
    <th>Type</th>
  </tr>

<% for participant in @participants %>
  <tr>
    <td><%=h participant.type %></td>
    <td><%= link_to 'Show', participant %></td>
    <td><%= link_to 'Edit', edit_participant_organization_path(participant) %></td>
    <td><%= link_to 'Destroy', participant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New participant', new_participant_organization_path %>
