<h1>Listing name_strings</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for name_string in @name_strings %>
  <tr>
    <td><%=h name_string.name %></td>
    <td><%= link_to 'Show', name_string %></td>
    <td><%= link_to 'Edit', edit_name_string_path(name_string) %></td>
    <td><%= link_to 'Destroy', name_string, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New name_string', new_name_string_path %>
