<h1>Scientific Names</h1>
<div class="help_info"><%= NameString.count %> names so far</div>
<%- form_for(:name_string, :url => {:action => 'index'}, :html => {:method => 'get'}) do |f| -%>
  <%= f.text_field :name %>
  <%= f.submit 'Search' %>
<%- end -%>
<br />
<%- if @name_strings -%>
<%= will_paginate @name_strings %>
<table>
<% for name_string in @name_strings %>
  <tr>
    <td><%=h name_string.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @name_strings %>
<%- end -%>
