%h1
  Index of Scientific Namesdsfdasf
  
.help_info
  Index of names provided by all Name Repositories
  == (#{@names_total} names total) 
.boxed.centered
  - form_tag('/name_strings', :method => :get) do
    = text_field_tag :search_term, nil, {:size => "40"}
    = submit_tag 'Search'
    - if current_user and current_user.data_sources
      = submit_tag 'Search Mine'
    %br/
    - NameString::LATIN_CHARS.each do |char|
      = link_to char, 'expand' => char

%br/
- if @char_triples
  %table{:style=> 'margin:0;width:100%'}
    %tr
    - @char_triples.each do |a|
      %td
        - a.each do |c|
          - does_exist = NameString.find_by_sql(['select 1 from name_strings where name like ? limit 1', c + '%'])
          - unless does_exist.blank?
            = link_to c + "<br />", 'search_term' => c + "*"
          - else
            %span{:style => 'color:#ddd'}= c
            %br
- else
  - if !@name_strings.blank?
    #data_layout 
      #name_column_left{:class=> (@name_strings.size == 0 ? 'empty' : '')}
        = will_paginate @name_strings 
        - for name_string in @name_strings
          .name_string{:name_string_id => name_string.id}= h name_string.name
        %br/
        = will_paginate @name_strings
      #name_column_right
    #data_clear_layout
  - elsif !@empty_search_help.blank?
    .info-div{:style=>'align:center'}
      - @empty_search_help.each do |line|
        %p= line
