%h1
  Index of Scientific Names
  
.help_info
  Index of names provided by all Name Repositories
  == (#{NameString.count} names total) 
.boxed.centered
  - form_for(:name_string, :url => {:action => 'index'}, :html => {:method => 'get'}) do |f|
    = f.text_field :search_term, :size => "40"
    = f.submit 'Search'
    - if current_user and current_user.data_sources
      = f.submit 'Search Mine'
    %br/
    - %w(A B C D E F G H I J K L M N O P Q R S T U V W X Y Z).each do |char|
      = link_to char, 'name_string[search_term]' => char

%br/
- if @name_strings
  #data_layout 
    #name_column_left 
      = will_paginate @name_strings 
      - for name_string in @name_strings
        .name_string{:name_string_id => name_string.id}= h name_string.name
      %br/
      = will_paginate @name_strings
    #name_column_right.name_column_right_inactive
      text area
  #data_clear_layout    
