%h3= @name_string.name 

- show_text = !!params[:show_tree] ? 'hide' : 'show';
- show_tree = !!params[:show_tree] ? 'display: block;' : 'display: none;'

%h6#parsed_information{ :onclick => 'toggle_parsed_information()'}== Parsed information (#{show_text})

.tree_root{:style => show_tree}
  = Parser.json_to_html(@parsed_name)
%br/

- lexical_groups = @name_string.lexical_groups
-  unless lexical_groups.blank?
  .lexical_group
    %h3= "Lexical groups"
    - count = 0
    - lexical_groups.each do |lg|
      - count += 1
      %h4= "Group #" + count.to_s if lexical_groups.size > 1
        
      - lg.name_strings.map {|ns| ns.name}.each do |ns|
        - if @name_string.name == ns
          = ns
        - else
          = link_to ns, "/?search_term=ns:#{CGI::escape(ns)}"
        %br/
    
- unless @data_sources_data.empty?
  %table#js_name_string_details.data.bordered
    %tr
      %th.top Logo
      %th.top Data Source
      %th.top Records #
    - @data_sources_data.each do |data|
      %tr
        %td
          = data_source_logo data[:data_source], 'small'
        %td
          = link_to data[:data_source].title, data_source_url(data[:data_source])
        %td
          - recs_num = data[:records_number].to_s
          - recs_num += data[:records_number] == 1 ? ' record' : ' records'
          = link_to recs_num, name_index_name_index_records_url(data[:name_index_id])

