<h1>Listing data_provider_roles</h1>

<table>
  <tr>
    <th>Data provider</th>
    <th>Role</th>
  </tr>

<% for data_provider_role in @data_provider_roles %>
  <tr>
    <td><%=h data_provider_role.data_provider_id %></td>
    <td><%=h data_provider_role.role %></td>
    <td><%= link_to 'Show', data_provider_role %></td>
    <td><%= link_to 'Edit', edit_data_provider_role_path(data_provider_role) %></td>
    <td><%= link_to 'Destroy', data_provider_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New data_provider_role', new_data_provider_role_path %>
