<h1>Editing name_index_record</h1>

<% form_for(@name_index_record) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name_index %><br />
    <%= f.text_field :name_index %>
  </p>
  <p>
    <%= f.label :kingdom %><br />
    <%= f.text_field :kingdom %>
  </p>
  <p>
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </p>
  <p>
    <%= f.label :local_id %><br />
    <%= f.text_field :local_id %>
  </p>
  <p>
    <%= f.label :global_id %><br />
    <%= f.text_field :global_id %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @name_index_record %> |
<%= link_to 'Back', name_index_records_path %>
