<p>
  <b>Name index:</b>
  <%=h @name_index_record.name_index %>
</p>

<p>
  <b>Kingdom:</b>
  <%=h @name_index_record.kingdom %>
</p>

<p>
  <b>Rank:</b>
  <%=h @name_index_record.rank %>
</p>

<p>
  <b>Local:</b>
  <%=h @name_index_record.local_id %>
</p>

<p>
  <b>Global:</b>
  <%=h @name_index_record.global_id %>
</p>

<p>
  <b>Url:</b>
  <%=h @name_index_record.url %>
</p>


<%= link_to 'Edit', edit_name_index_record_path(@name_index_record) %> |
<%= link_to 'Back', name_index_records_path %>
