<h1>Listing organization_memberships</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>Person</th>
    <th>Role</th>
  </tr>

<% for organization_membership in @organization_memberships %>
  <tr>
    <td><%=h organization_membership.organization_id %></td>
    <td><%=h organization_membership.person_id %></td>
    <td><%=h organization_membership.job_title %></td>
    <td><%=h organization_membership.contact_role %></td>
    <td><%= link_to 'Show', organization_membership %></td>
    <td><%= link_to 'Edit', edit_organization_membership_path(organization_membership) %></td>
    <td><%= link_to 'Destroy', organization_membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organization_membership', new_organization_membership_path %>
