<h1>Editing name_canonical</h1>

<% form_for(@name_canonical) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @name_canonical %> |
<%= link_to 'Back', name_canonicals_path %>
