!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }/
    %meta{ :content => "en-us", "http-equiv" => "Content-Language" }/
    %title
      = PROGRAM_NAME
    %meta{ :name => "ROBOTS", :content => "ALL" }/
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }/
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }/
    %meta{ :name => "Keywords", :content => "__KEYWORDS__" }/
    %meta{ :name => "Description", :content => "__DESCRIPTION__" }/
    = stylesheet_link_tag "application.css","menu.css" 
    
    = javascript_include_tag "jquery", "jquery.timers", "jquery.confirm", "application" 
    /
      KLUDGE:: Win IE 5
    /
      corrects the unsightly Flash of Unstyled Content. See http://www.bluerobot.com/web/css/fouc.asp for more info
    %script{ :type => "text/javascript" }
    /
      END KLUDGE::
  %body#gna
    #ajax_spinner{:style => 'display:none'} Loading
    #centerwrapper
      #masthead
        #logodiv
          #logo_gna
            #top-menu
              %table
                %tr
                  %td{:style => 'text-align: left'}
                    = link_to 'Index', name_strings_url 
                    &nbsp;&nbsp;
                    = link_to 'Repositories', data_sources_url
                    &nbsp;&nbsp;
                    = link_to 'Name Parser', new_parser_url 
                  %td{:style => 'text-align: right'}
                    - if current_user 
                      %span#current_user_login_name
                        &nbsp;&nbsp;
                        = link_to "User: #{current_user[:login]}", data_sources_url
                        = link_to "(edit)", edit_user_url(current_user[:id])
                      = link_to "Logout", "/logout"
                    - else
                      = link_to "Log in", "/login"
                      &nbsp;&nbsp;
                      = link_to "Sign up", "/signup"
                    &nbsp;&nbsp;
                    = link_to 'Help', 'http://wiki.github.com/dimus/gni/global-names-index-help', :target => '_blank' 
            #program_name
              = link_to PROGRAM_NAME, name_strings_url
              %span.beta beta
          #logo_motto
            = link_to "Species Names Exchange", name_strings_url
          %table.layout
            %tr
              %td{ :width => "230" }
                %img{ :src => "/images/public/developer_logo.gif", :alt => "Logo name", :style => "width:230;height:120" }/
              %td{ :valign => "top", :style => "padding-top: 10px; padding-left: 40px; background-position:top left; background-repeat:no-repeat;" }
                #info
                %br{ :clear => "all" }/
      #centerbox
        #centercontent
          #overall
            - if flash[:notice] or flash[:error]
              #flash
                = render_flash rescue nil 
                            
            = yield
            
      #centerbottom
        #centerbottominfo
          %img{ :src => "/images/public/developer_bottomleft.gif", :height => "30", :alt => "bottomleft", :width => "300" }/
    = render :partial => "shared/footer" 
    :javascript
      var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
      document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    :javascript
      UserVoice.Tab.show({ 
        key: 'gni',
        host: 'gni.uservoice.com', 
        forum: 'general', 
        alignment: 'left',
        background_color:'#600', 
        text_color: 'white',
        hover_color: '#e99',
        lang: 'en'
      })
