<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />

  <title>Global Names Architecture</title>

  <meta name="ROBOTS" content="ALL" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta name="Keywords" content="__KEYWORDS__" />
  <meta name="Description" content="__DESCRIPTION__" />

  <%= stylesheet_link_tag "application.css","menu.css" %>

  <%= javascript_include_tag "jquery", "jquery.timers", "application" %>

  <!-- import the DOM logic from external javascript files -->
  <!--script type="text/javascript" src="/js/basic.js"></script-->

  <!-- KLUDGE:: Win IE 5 -->
  <!-- corrects the unsightly Flash of Unstyled Content. See http://www.bluerobot.com/web/css/fouc.asp for more info -->
  <script type="text/javascript"></script>
  <!-- END KLUDGE:: -->
  <!-- <link rel="stylesheet" type="text/css" media="all" href="tree.css" />
  <script type="text/javascript" src="tree.js"></script>    -->

</head>

<body id="noname1">
  
<div id="centerwrapper">
  <div id="masthead">
    <div id="logodiv">

      <div id="logo_gna">
      Global Names Architecture
      </div>

      <div id="logo_motto">
      Species Names Exchange
      </div>

      <table class="layout">
        <tr>
          <td width="230">
            <img src="/images/public/developer_logo.gif" alt="Logo name" style="width:230;height:120" />
          </td>
          <td style="padding-top: 10px; padding-left: 40px; background-position:top left; background-repeat:no-repeat;" valign="top">
            <div id="info">
              <%- if current_user -%>
              <strong><%= current_user[:login] %></strong><%= "&nbsp;" * 8 %><%= link_to "Logout", "/logout" %>
              <%- else -%>
              <%= link_to "create account", "/signup" %> or <%= link_to "log in", "/login" %>
              <%- end -%>
            </div><br clear="all" />
          </td>
        </tr>
      </table>

    </div><!-- end of logodiv -->
  </div><!-- end of masthead -->

  <div id="centerbox">

    <div id="centercontent">
      <div id="overall">

        <% if flash[:notice] or flash[:error] %>
        <div id="flash">
          <%= render_flash rescue nil %>
        </div>
        <%- end -%>

      <%= yield %>
      
      </div><!-- end of overall -->
    </div><!-- end of centercontent -->
  </div><!-- end of centerbox -->
  
  <div id="centerbottom">
    <div id="centerbottominfo"><img src="/images/public/developer_bottomleft.gif" alt="bottomleft" width="300" height="30" /></div>
  </div>
  
</div><!-- and of centerwrapper -->
<%= render :partial => "shared/footer" %>
</body>
</html>
